main {
    color: #f8a50a;
  }

.container {
    color: #f8a50a;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(2, 62, 226);
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #fcb32b;
    padding: 20px 0;
    width: 100%;
}
.jumbotron {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 25px;
}

.btn-primary {
    border-radius: 25px;
}

.search-results {
    margin-top: 2rem;
}

.pokemon-card {
    border: 1px solid #ddd;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); 
}
#battleSimulator{
    margin-top: 20px;
    color: #f8a50a;
    padding: 20px 0;
    width: 100%;
}

#teamBuilder{
    margin-top: 20px;
    color: #f8a50a;
    padding: 20px 0;
    width: 100%;

}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 0.25rem;
}